<div id="home-content" class="content-container">

  <div id="home-row-1">


    <div id="tournaments-row-2">

      <div class="tournament-list-cont">

        <div class="table-header">

          <i class="fa fa-trophy" aria-hidden="true"></i>
          Tournaments

        </div>


        <table class="tournament-list">

          <tbody>

            <tr ng-repeat="tournament in $ctrl.tournamentLinks track by $index"
              ng-class=""
              ng-click="">
              <td><span class="tournament-list-name">{{tournament.name}}</span></td>
              <td>{{tournament.type}}</td>
              <td>{{tournament.status}}</td>
              <td><i class="fa fa-user" aria-hidden="true"></i> {{tournament.numPlayers}}</td>
           </tr>

          </tbody>


        </table>

      </div><div class="right-tournaments-cont">


        <div class="tournaments-buttons">

          <a ng-click="$ctrl.tournamentClickNew()"
          ng-class="{'tournament-buttons-active':$ctrl.toggleNew}">New Tournament</a>


          <a ng-click="$ctrl.tournamentClickJoin()"
          ng-class="{'tournament-buttons-active':$ctrl.toggleJoin}">Join Tournament</a>

        </div>

      </div>

    </div>

    <div class="create-outer-cont">

    <div class="title">

      Try it out

    </div>


  <div class="left-create">

    <div class="left-create-div">

    <div class="home-create-container">



      <form class="form-inline">
        <p> 1. Choose a name: &nbsp;</p>
        <div class="form-group">
          <input type="text" class="form-control form-inline" id="usr" placeholder="name">
        </div>
      </form>

    </div><div class="home-create-container">

      <form class="form-inline">

        <p> 3. And the number of players: &nbsp;</p>

          <div class="form-group">
                <input id="num-players" type="number" class="form-control form-inline" name="numPlayers">
          </div>
      </form>

    </div><div class="home-create-container">

      <form class="form-inline">

        <p> 5. Public or private? &nbsp;</p>

        <div class="form-group">
          <label class="radio-inline"><input type="radio" name="rated">public</label>
          <label class="radio-inline"><input type="radio" name="rated">private</label>
        </div>

      </form>

    </div>

  </div><div class="right-create-div">

  <div class="home-create-container">

    <p> 2. Pick a tournament format: &nbsp;</p>

    <div class="btn-group button-cont">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span ng-bind-html="$ctrl.tournament_format"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu home-dropdown" role="menu">
          <li ng-repeat="format in $ctrl.formats" ng-click="$ctrl.toggleFormat(format)">

            <span ng-bind-html="format"></span>
          </li>
      </ul>
    </div>

    </div><div class="home-create-container">

      <form class="form-inline">

        <p> 4. Should it be <a href="#">ELO</a> rated? &nbsp;</p>

        <div class="form-group">
          <label class="radio-inline"><input type="radio" name="rated">yes</label>
          <label class="radio-inline"><input type="radio" name="rated">no</label>
        </div>

      </form>

    </div><div class="home-create-container">
      <form class="form-inline">

        <form class="form-inline">
          <p> 6. Lastly, a password: &nbsp;</p>
          <div class="form-group">
            <input type="text" class="form-control form-inline" id="password" placeholder="password">
          </div>
        </form>

      </form>

    </div>

  </div>

  <div class="make-button-cont">

    <div id="make-button-cont-2"><button type="button"
      class="btn btn-default btn-md" id="make-btn">Make it!</button>

                or

                <a href="#"> advanced options </a>

    </div>

  </div>

  </div>


  </div>


    <!--
    <div class="category-div">

      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>

      <h6>Board Games</h6>

    </div>

    <div class="category-div">

      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>

      <h6>Sports</h6>

    </div>

    <div class="category-div">

      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>

      <h6>Video Games</h6>

    </div>
  -->

</div>
